/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
